@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  min-height: 100vh;
  min-width: 1000px;
}

.sidebar {
  position: relative;
  background-image: url(../media/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFF;
  width: clamp(350px, 80%, 1000px);
}

.sidebar .header {
  padding: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;  
  width: 100%;
  margin-top: 20vh;
  background-color: rgba(70, 70, 70, 0.5);
}

.sidebar .header img {
  height: clamp(80px, 8vw, 200px);
  padding-right: 20px;
}

.sidebar .header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: clamp(40px, 4vw, 100px);
  text-align: center;
}

.sidebar .attribution {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button {
  background-color: #8D00FF;
  color: #FFF;
}
