@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  min-height: 100vh;
  min-width: 1300px;
}

.sidebar {
  position: relative;
  background-image: url(../media/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFF;
  width: clamp(350px, 80%, 1000px);
}

.sidebar .header {
  padding: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;  
  width: 100%;
  margin-top: 20vh;
  background-color: rgba(70, 70, 70, 0.5);
}

.sidebar .header img {
  height: clamp(80px, 8vw, 200px);
  padding-right: 20px;
}

.sidebar .header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: clamp(40px, 4vw, 100px);
  text-align: center;
}

.sidebar .attribution {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.main-content {
  padding: 7vh 0;
  background-color: #f7f0fd;
  width: 100%;
}

.main-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.main-content .description,
.main-content .form-main-wrapper,
.main-content .form-submit-wrapper {
  padding: 30px;
}

.form-main-wrapper {
  background-color: #fff;
  box-shadow: 0px 2px 20px -5px rgba(0, 0, 0, 0.25);
}

.form-input-wrapper {
  display: flex;
  flex-flow: row wrap;  
  max-width: 700px;
}

.form-row {
  margin: 5px 70px 20px 0px;
}

.form-row label {
  display: block;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-row input {
  display: block;
  box-sizing: content-box;
  width: 250px;
  padding: 5px;  
  border-radius: 5px;
  border: 1px solid #dcdee2;  
}

.form-row input::placeholder {
  color: rgba(100, 100, 100, 0.7);
}

.form-row input:hover {
  border: 1px solid #c1c3c7;  
}

.form-row input:focus {
  border: 1px solid #8D00FF;  
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
  outline: none;
}

.form-row input:invalid:not(:placeholder-shown) {
  border-color: rgb(255, 50, 50);
}

.form-row .error-message {
  display: none;
}

input:invalid:not(:placeholder-shown) ~ .error-message {  
  display: block;
  color: rgb(255, 50, 50);
  font-size: 0.7rem;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #FFF;
  background-color: #8D00FF;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #a435ff;
}

button:active,
button:focus {
  background-color: #ae4bff;  
  outline: none;
}
